
/*font*/
@font-face {
    font-family: iran;
    src: url(./fonts/iran.ttf);
}



/*body*/
*{
    direction: rtl;
    margin: 0px;
    font-family: iran;
    font-size: 16px;
    
}

body{
    background-color:rgb(241,241,241);
}

a{
    text-decoration: none;
}


/*home*/
main{
    margin: 30px 300px;
    margin-top: 50px;
    
}

.main-box{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    width:790px;
    
}


.main-box-right{
    background-color:rgb(248,249,250) ;
    padding: 25px 30px;
    
}

.main-box-left{
    background-color:rgb(22,122,188) ;
    
}

.universitylogo {
    display: block;
    text-align: center;
}


.universitylogo img{
    width: 80px;
    text-align: center;
}

.main-box-right .span1{
   display: block;
   text-align: center;
   font-size: 1.1em!important;
   margin: 10px 0px;
   color: black!important;
}




.input-group{
    text-align: center;
    position: relative;
    margin: 7px 0px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0.95)
}



input{
    outline: none;
    width: 400px;
    border: 1px solid rgba(108,121,141,0.8);
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.input-group span{
   position: absolute;
   left: 80%;
   top: 30%;
   color:rgb(108,121,141);
}

a:hover{
    cursor: pointer;
}

.input-group .probelmize{
    position: absolute;
    left: 82%;
    top: 30%;
    color:rgb(108,121,141);
 }

.input-group a{
    position: absolute;
    left: 11%;
    top:32%;
    color:rgb(181,186,190);
    
    
 }

 .input-group i{
    position: absolute;
    left: 5%;
    top: 32%;
    color:rgb(181,186,190);
    font-size: 1.2em;
    
    
 }


 .main-box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*flex-basis: content;*/
 }



.slide1,.slide2,.slide3,.slide4 {
    padding: 25px 25px;
    margin-top: 50px;
    

}

.active2{
    display: block !important;
    
}

.mid-automataic-slider p{
   font-size:0.8em ;
   color: white;
}

.slide2 span{
    font-size:1.0em ;
    color: rgb(235,187,22);
    margin-right: 2px;
 }

 .title{
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 0.85em !important;
    color:white !important;
 }



.alert{
    font-size: 0.8em;
    text-align: center;
    background-color:rgb(248,215,218) ;
    color: rgb(185,92,58);
    padding: 10px 20px;
   transform-origin: center;
    transform: scaleX(1.05);
    border-radius: 5px;
    padding-top: 15px;
    margin-bottom: 10px;
    
    

}


.validation-code .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons div{
    background-color: red;
    width: 150px;
    height: 40px;
    text-align: center;
    
    
}



.validation-code i{
    font-size: 22px;
}


.alert{
    display: none;
}


.active{
    display: block ;
}

#refreshBtn:hover{
    cursor: pointer;
}


.icons{
    margin-top: 10px;
}


.validation-code p{
    font-size: 0.8em;
    text-align: center;
    margin-top: 4px;
    
}

.validation-code p span{
    display: block;
    font-size: 1em;
    text-align: center;
    
}

.bottom-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-box .right{
    background-color:rgb(22,122,188);
    color: white;
    text-align: center;
    padding: 5px 65px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
}

.bottom-box .left{
    margin-top: 17px;
    font-size: 0.8em;
    padding-left: 15px;
    color:rgb(31,123,255);
}

.bottom-box .right:hover{
    cursor: pointer;
    background-color:rgb(22,122,230);
    
}

.bottom-box .left:hover{
    cursor: pointer;
   text-decoration: underline solid 0.25px;
   
   
   
}


.main-box-left{
    width: 120%;
}


.slide2 i{
    font-size:0.8em;
}


.slide1{
    font-size: 1em;
    display: flex ;
    flex-direction: column !important;
    align-items: center !important;
}

.span1,.span2 {
    color:white;
    font-size: 0.75em;
}

.span1{
    margin-bottom: 2.5px;
}

.slide1 i{
    background-color: white;
    padding: 4px 4px;
    border-radius: 2.5px;
}



.slide3 span{
    color: rgb(235,187,22);
    font-size: 1em;
}


.slide3 i{
    font-size: 0.8em;
}

.slide3{
    text-align: center;
}

.slide4 a{
    color: rgb(235,187,22);
    font-size: 1.0em;
    cursor: pointer;
    transition: color 0.2s;
}

.slide4 a:hover{
    color:rgb(255,187,150);
    
}


.slide4 i{
    font-size: 0.8em;
}

.slide4{
    text-align: center;
    font-size: 0.9em;
    transform-origin: center;
    
}


.slide4 .title{
    font-size: 1.0em !important;
}

.main-box-left-bottom{
    margin-top: 25%;
}


.main-box-left-bottom a img{
    width: 55%;
    opacity: 50%;
    transition: opacity 0.8s;
}

.main-box-left-bottom a img:hover{
    opacity: 100%;
}
 
.icon-etemad{
    text-align: center;
    margin-bottom: 0;
}

.main-box-left-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.bootom {
    padding: 25px;
    padding-top: 0px;
    
    
}


.bootom p,.bootom span{
    font-size: 0.7em;
    color:white;
    text-align: center;
    
}

.bootom a{
    font-size: 0.95em;
    color:white;
    text-decoration: underline;
    opacity: 50%;
    transition: opacity 0.8s;
    
}

.bootom a:hover{
    opacity: 100%;
    
}

.bootom span{
    padding-right: 5%;
    
    
}

#finaltext{
    padding-right: 42%;
    margin-top: 2%;
}



#captchacode{
    background-image: url(./texture/1.webp);
    padding-top: 3%;
    box-sizing: border-box;
    letter-spacing: 7px;
}



.mid-automataic-slide{
    width: 100%;

}

.main-box-left{
    max-width:330px;
}


.owl-carousel .nav-btn{
   width: 80px;
}

.owl-theme .owl-dots .owl-dot span{
    margin-right:3px!important;
    margin-left: 3px!important;
}


input[type=text]:focus {
    
  }